body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #330066;
    color: #f1f1f1;
}

header {
    background-color: #330066;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
    color: #f1f1f1;
    align-items: left;
}

nav a {
    color: #f1f1f1;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2 {
    color: #7093FF;
}

/* Button Styles */
button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    padding: 0; /* Reset default padding */
  }
  
  button:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
  }
  
  button:hover::after {
    right: auto;
    left: 0;
    width: 100%;
  }
  
  button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  
  button:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
  }
  
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(0.95);
    }
  
    100% {
      transform: scale(1);
    }
  }
  

footer {
    background-color: #7410d8;
    padding: 10px;
    text-align: center;
    color: #f1f1f1;
    margin-top: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    max-width: 200px; /* Adjust the size as needed */
    height: auto;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    color: #f1f1f1;
    margin-bottom: 20px;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #f1f1f1;
    text-decoration: none;
    margin: 0 15px;
}

header nav a:hover {
    text-decoration: underline;
}